<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @project_request.summary %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @project_request.startDate %>
</p>

<p>
  <strong>Transactionalbusinessmanager:</strong>
  <%= @project_request.transactionalBusinessManager %>
</p>

<p>
  <strong>Golivedate:</strong>
  <%= @project_request.goLiveDate %>
</p>

<%= link_to 'Edit', edit_project_request_path(@project_request), class:"btn btn-lg btn-default" %> |
<%= link_to 'Back', project_requests_path, class:"btn btn-lg btn-default" %>
