<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-hover">
    <tr><td>
    <%= f.label :summary %></td><td>
    <%= f.text_area :summary %> </td>
  </tr>
    <tr><td>
    <%= f.label :customer %></td><td>
    <%= f.text_field :customer %>
  </td></tr>
    <tr><td><strong>Project Manager<strong></td><td>
    <%= f.text_field :projectManager %>
</td></tr>
    <tr><td>
    <strong>Kick Off Date</strong</td><td>
    <%= f.date_select :startDate %>
</td></tr>
    <tr><td>
    <strong>TBM<strong></td><td>
    <%= f.text_field :transactionalBusinessManager %>
</td></tr>
    <tr><td>
    <strong>Go Live Date</strong></td><td>
    <%= f.date_select :goLiveDate %>
    </td></tr>
  </table>
  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-default" %>
  </div>
<% end %>
