<p id="notice"><%= notice %></p>

<h2>Active Projects</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Summary</th>
      <th>Customer</th>
      <th>PM</th>
      <th>Startdate</th>
      <th>TBM</th>
      <th>Golivedate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.summary, project %></td>
        <td><%= project.customer %></td>
        <td><%= project.projectManager %></td>
        <td><%= project.startDate %></td>
        <td><%= project.transactionalBusinessManager %></td>
        <td><%= project.goLiveDate %></td>
        <td><%= link_to '', edit_project_path(project), class: "glyphicon glyphicon-edit" %></td>
        <td><%= link_to '', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: "btn btn-lg btn-default btn-block" %>
