<p id="notice"><%= notice %></p>
<h1> Project Summary</h1>
<table class="table table-hover">
    <tr>
<td>
  <strong>Summary:</strong></td><td>
  <%= @project.summary %>
</td></tr>

<tr><td>
  <strong>Customer:</strong></td><td>
  <%= @project.customer %>
</td></tr>

<tr><td>
  <strong>Projectmanager:</strong></td><td>
  <%= @project.projectManager %>
</td></tr>

<tr><td>
  <strong>Startdate:</strong></td><td>
  <%= @project.startDate %>
</td></tr>

<tr><td>
  <strong>Transactionalbusinessmanager:</strong></td><td>
  <%= @project.transactionalBusinessManager %>
</td></tr>

<tr><td>
  <strong>Golivedate:</strong></td><td>
  <%= @project.goLiveDate %>
</td></tr>

<!--<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> -->

</table>
</div>
  <div>
  </div>
<div class="jumbotron">
<h2> Action Items</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Assignee</th>
      <th>Project</th>
      <th>Description</th>
      <th>Duedate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relevantActionItems.each do |action_item| %>
      <tr>
        <td><%= action_item.assignee %></td>
        <td><%= action_item.project %></td>
        <td><%= action_item.description %></td>
        <td><%= action_item.dueDate %></td>
        <td><%= link_to 'Show', action_item %></td>
        <td><%= link_to 'Edit', edit_action_item_path(action_item) %></td>
        <td><%= link_to 'Destroy', action_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Action item', new_action_item_path, class: "btn btn-lg btn-default btn-block" %>
